p {
	display: inline-block;
}
input {
	display: inline-block;
}
#input_area{
	width: 200px;
	display: inline-block;
}
#cards_area {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
#cards{
	display: inline-block;
}